<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="syscryption.intro11">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2" />

        <activity android:name=".Jan_Col1" />
        <activity android:name=".Feb_Col" />
        <activity android:name=".March_Col" />
        <activity android:name=".April_Col" />
        <activity android:name=".May_Col" />
        <activity android:name=".June_Col" />
        <activity android:name=".July_Col" />
        <activity android:name=".August_Col" />
        <activity android:name=".Sep_Col" />
        <activity android:name=".Oct_Col" />
        <activity android:name=".Nov_Col" />
        <activity android:name=".Dec_Col" />
        <activity android:name=".Col_Description"></activity>
    </application>

</manifest>